STRINGTABLE
{
1000, "STORE NAME"
1001, "TELEPHONE"
1002, "ADDRESS"
1003, "INVOICE(F)/RECEIPT(R)"
1004, "CHECK"
1005, "PORT NO."
1006, "PHARMACY"
1007, "PORT DISPLAY #"
1008, "DISPLAY TYPE NUM"
1009, "REGISTER NO."
1010, "MUNICIPAL TAX"
1011, "STATE TAX"
1012, "CHARGE OTC TAX (T or F)"
1013, "Configuration"
1014, "Options"
1015, "INVOICE 8 1/2 X 11"
1016, "OTHER"
1017, "INVENTORY"
1018, "CREDIT"
1019, "OTHER"
1020, "QUANTITY"
1021, "INVOICE"
1022, "DELIVERIES"
1023, "CALCULATED COST"
1024, "CONSIDER QTY PRICE CHANGE"
1025, "CONSIDER MEMBER PRICE"
1026, "CONSIDER PRICE CHANGE"
1027, "CONFIRM OPEN BALANCE"
1028, "TIME IN DAYS TO PAY DEBT"
1029, "TIME IN DAYS TO PAY LAYAWAY"
1030, "SPONSORSHIP PERCENTAGE"
1031, "DIRECTORY FOR ENTRY MERCHANDISE"
1032, "DIRECTORY FOR TRANSFER MERCHANDISE"
1033, "DIRECTORY FOR REPORTS"
1034, "PAYMENTS"
1035, "Centralized Credit"
1036, "CENTRALIZED CREDIT"
1037, "PHARMACY NO."
1038, "Search Options"
1039, "SEARCH CLIENTS BY:"
1040, "Client Name"
1041, "SSN"
1042, "Telephone Number"
1043, "Member Number"
1044, "Client Number"
1045, "RX IN RECEIPT"
1046, "BARCODE PRESCRIPTION NUMBER (SEARCH)"
1047, "PRESCRIPTIONS FARMATEC"
1048, "ELECTRONIC SIGNATURE"
1049, "SHOW PRESCRIPTIONS IN ELECTRONIC SIGNATURE"
1050, "SAVE USER WHEN SIGNING PRESCRIPTIONS"
1051, "INCLUDE BATCH PRESCRIPTIONS"
1052, "Information" 
1053, "CLIENT NO." 
1054, "CLIENT"
1055, "TELEPHONE"
1056, "DEBT"
1057, "LIMIT"
1058, "SPONSOR"
1059, "SPONSORSHIP"
1060, "Add"
1061, "Edit"
1062, "Delete"
1063, "Refresh"
1064, "Search"
1065, "See transactions"
1066, "Initial balance"
1067, "Initial layaway balance"
1068, "&Merge Prescribers Data"
1069, "Inventory"
1070, "&Inventory Information"
1071, "&Calculate Prices"
1072, "&Additional Information"
1073, "Order &Entry"
1074, "Transfer Merchandize"
1075, "&Orders"
1076, "&Suppliers"
1077, "&Departments"
1078, "Drug &Interactions"
1079, "Confirm member number"
1080, "Enter Member Number"
1081, "Edit Customer"
1082, "Client No."
1083, "Name"
1084, "Last Name"
1085, "Maiden Name"
1086, "Sex"
1087, "Identification"
1088, "Date of Birth"
1089, "Telephone"
1090, "Cellphone"
1091, "Address"
1092, "Postal Address"
1093, "City"
1094, "State"
1095, "Merchant Registration No."
1096, "Limit"
1097, "Debt"
1098, "Extended Debt"
1099, "Veterans Discount %"
1100, "Stocks"
1101, "View Transactions"
1102, "SALES DATE"
1103, "Credit Card"
1104, "Check"
1105, "Debit"
1106, "ALTERNATE BARCODE 1"
1107, "ALTERNATE BARCODE 2"
1108, "COST"
1109, "Credit"
1110, "All"
1111, "BARCODE"
1112, "DESCRIPTION"
1113, "PRICE"
1114, "SPECIAL PRICE"
1115, "MOVEMENT"
1116, "START SPECIAL"
1117, "END SPECIAL"
1118, "QTY IN STOCK"
1119, "SUPPLIER"
1120, "MAX INVENTORY"
1121, "MIN INVENTORY"
1122, "TYPE"
1123, "EXP DATE"
1124, "CODE"
1125, "SIZE"
1126, "LOT"
1127, "DISCOUNT PERCENTAGE"
1128, "LAST CHANGE"
1129, "LAST SALE"
1130, "REAL PRICE"
1131, "EDIT PRICE"
1132, "Price"
1133, "Cost"
1134, "Date"
1135, "Supplier"
1136, "Register No."
1137, "Initials"
1138, "DEPARTMENT"
1139, "USER"
1140, "INITIALS"
1141, "LEVEL"
1142, "Logged"
1143, "CLIENTS (2)"
1144, "LABELS (1)"
1145, "INVENTORY (2)"
1146, "DEPARTMENT (1)"
1147, "SUPPLIERS (1)"
1148, "DAILY TOTALS (2)"
1149, "VIEW ACTIVE PASSWORDS (2)"
1150, "CHANGE PASSWORDS (3)"
1151, "INFORMES (1)"
1152, "GROUP PRODUCTS (2)"
1153, "BACKUP (2)"
1154, "TIME CARD ADMINISTRATOR (3)"
1155, "VIEW LOG DATA (3)"
1156, "DELETE PROD (2)"
1157, "CHANGE PRICE (2)"
1158, "DELETE TRANS (3)"
1159, "CANCEL TRANS (2)"
1160, "DISCOUNT (2)"
1161, "OPEN DRAWER (2)"
1162, "VIEW TRANS (3)"
1163, "REPRINT (2)"
1164, "CREDIT SALE (2)"
1165, "SAVE TRANSACTIONS (2)"
1166, "MANUAL SALE (2)"
1167, "CHANGE OTC, RX PRICE"
1168, "EDIT BUTTONS (2)"
1169, "CAPTURE SIGNATURE (2)"
1170, "CHANGE PRICE LIMIT (Comissions) (2)"
1171, "UPDATE INVENTORY PRICE IN POS (2)"
1172, "Clients"
1173, "INITIAL BALANCE (2)"
1174, "INITIAL LAYAWAY (2)"
1175, "EDIT (3)"
1176, "DELETE (3)"
1177, "DISCOUNT %"
1178, "D. Totals"
1179, "ADD PAST (3)"
1180, "EDIT (2)"
1181, "EDIT PAST (3)"
1182, "DIALY TOTALS ADMIN (3)"
1183, "CLOSE DAILY TOTAL WHILE PRINT (3)"
1184, "VIEW TOTAL CASH, DAILY TOTALS (3)"
1185, "Reports"
1186, "REPORTS"
1187, "RECONCILIATION"
1188, "INVENTORY REPORTS"
1189, "CLIENT REPORTS"
1190, "POS REPORTS"
1191, "Print barcode password"
1192, "Edit User"
1193, "EMPLOYEE"
1194, "REGISTER #"
1195, "REGISTER"
1196, "READ"
1197, "DIFFERENCE"
1198, "REGISTER STATUS"
1199, "DAILY TOT STATUS"
1200, "Edit Daily Totals"
1201, "CREDIT CARD"
1202, "DEBIT"
1203, "UTILITIES"
1204, "SERVICE TAX"
1205, "REDUCED TAX"
1206, "COMMENT" 
1207, "TOTAL"
1208, "Daily Total"
1209, "Mun. Tax"
1210, "State Tax"
1211, "RECEIVED"
1212, "MANUAL SALE"
1213, "CHANGE PRICE(F10)"
1214, "TRANS. IN HOLD"
1215, "Prescriptions"
1216, "Credit Sale"
1217, "Credit Payment"
1218, "Pay Towards Layaway"
1219, "Commissions"
1220, "Check Change"
1221, "Veteran"
1222, "WIC Charge"
1223, "Business Service"
1224, "Quotes"
1225, "PRODUCT"
1226, "GROUP"
1227, "EDIT"
1228, "Search Products"
1229, "Special P."
1230, "Receipts"
1231, "Invoice"
1232, "Price:"
1233, "Cost:"
1234, "Expiration Date:"
1235, "Enter Qty:"
1236, "Specials"
1237, "Special Price:"
1238, "Start Special:"
1239, "End Special:"
1240, "Name"
1241, "Charge"
1242, "Charge %"
1243, "Departments:"
1244, "Sub Departments:"
1245, "Departments and Sub Departments"
1246, "Suppliers"
1247, "Contact"
1248, "Days disc."
1249, "Discount %"
1250, "Account No."
1251, "Manual Sale"
1252, "Quantity not greater than: "
1253, "The value cannot be greater than the subtotal."
1254, "The value cannot be greater than the client's rewards."
1255, "Search Rx"
1256, "Search OTC"
1257, "Quantity change: "
1258, "Product entered as group sale, no qty change is allowed!"
1259, "Price change"
1260, "Enter percentage"
1261, "Enter quantity"
1262, "Payment cannot be greater than the debt"
1263, "Incorrect quantity"
1264, "Enter description" 
1265, "Enter transaction number"
1266, "Enter commission quantity."
1267, "Invalid quantity"
1268, "There is a transaction in process, please finish before proceding"
1269, "Rx not found"
1270, "The client"
1271, "must make a payment of "
1272, "before making a credit transaction."
1273, "User not authorized"
1274, "To continiue, finish transaction: "
1275, "OTC already paid for"
1276, "OTC not found"
1277, "The signature of this Rx will be deleted"
1278, "Credit and lay away transactions only accept the total amount of the transaction"
1279, "Invalid amount, can't exceed $500,000.00"
1280, "Transaction deleted: "
1281, "Petty cash cannot be empty"
1282, "There is a transaction in hold, please finish before proceding"
1283, "Must enter all the required information"
1284, "Payment must not exceed the debt"
1285, "Quantity not registered"
1286, "Client has no debt"
1287, "Invalid quantity"
1288, "Petty cash cannot be empty or exceed 10,000..."
1289, "Invalid transaction: "
1290, "Client must make a payment before making a credit transaction"
1291, "Credit limit exceeded"
1292, "Invoice not found"
1293, "Client does not have the Veterans discount active!"
1294, "Must enter suggested value to continue!"
1295, "Can't leave the price of the last product in zero!"
1296, "Are you sure you want to delete this?"
1297, "Do you wish to add partner number "
1298, " to this client?"
1299, "Do you wish to update the clients credit data?"
1300, "Do you wish to delete this transaction: "
1301, "Do you wish to close the register?"
1302, "Do you wish this to apply to charged products?"
1303, "Caution... Do you wish to clone this product?"
1304, "Do you wish to update the inventory?"
1305, "Do you wish to send this via email?"
1306, "Search barcode"
1307, "Signed Rx"
1308, "Unsigned Rx"
1309, "Rx num"
1310, "Description"
1311, "Sale Price"
1312, "Delete signature"
1313, "Do you wish to delete the signature of rx"
1314, "Patient not found..."
1315, "You cannot add more than one record..."
1316, "No internet connection. Try later."
1317, "Client already exists..."
1318, "An error occurred, the data was not saved."
1319, "User not found"
1320, "Product not found"
1321, "You must exit the inventory to continue"
1322, "You must exit POS to edit the inventory"
1323, "Client exists..."
1324, "Clients with debt cannot be deleted."
1325, "Clients with RXs cannot be deleted."
1326, "The transaction number must be greater than "
1327, "The registers were closed automatically"
1328, "is logged. You can't close their register."
1329, "Choose the ID first."
1330, "The value must be less than 5,000,000"
1331, "Must be less than 30 characters"
1332, "Must select RXs to continue"
1333, "Utilities"
1334, "Utility"
1335, "Quantity"
1336, "Utility not found"
1337, "Group Sales"
1338, "SALE BY GROUP"
1339, "SALE BY REGISTER"
1340, "Total Quantity"
1341, "The price is not entered correctly, please fix."
1342, "Calculate Sponsorship"
1343, "From"
1344, "To"
1345, "PARTNER NUM"
1346, "PARTNER"
1347, "Sponsor exported to "
1348, "Search by:"
1349, "Partner Num."
1350, "Rewards"
1351, ""
1352, "Written date"
1353, "Last fill date"
1354, "Show all"
1355, "Delete"
1356, "Do you wish to add a new Patient?"
1357, "Do you wish to add a new Prescriber?"
1358, "Do you wish to add a new Product (Drug)?"
1359, "This prescription is in process!"
1360, "To continue, you must finish this prescription!"
1361, "Electronic Signature"
1362, "Confirm Patient address"
1363, "Show Signature"
1364, "Confirm expiration date"
1365, "Confirm Batch #"
1366, "Batch"
1367, "Verify Controled only"
1368, "Warning, you must change the health plan version to D0 to continue"
1369, "Warning, Product information missing, Please fill the blanks"
1370, "Warning, Could not save data!"
1371, "Warning, You must fill all the blanks"
1372, "Rx not found!"
1373, "Middle Name"
}
